.tournamentListCard {
  position: relative;
  width: 100%;
  padding: 46px 16px 16px;
  border: 1px solid #8C8498;
  background-color: #08042D;
  border-radius: 12px;
}

.tournamentAvailabilityInfo {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
}

.prizePoolText {
  margin: 28px 0 21px;
  color: #10C600;
}

.aipickCoinImage {
  position: absolute;
  top: 70px;
  right: 32px;
}

.aipickImageShadow {
  position: absolute;
  top: 80px;
  right: 42px;
  width: 72px;
  height: 72px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  box-shadow: 0 0 100px 40px #3a1f66;
}

.viewDetailsButton {
  width: 50%;
  height: 33px;
  min-height: 33px;
}
