.deckConfigurationButton {
  position: relative;
  background: #FFFFFF1A;
  width: 168px;
  height: 168px;
  flex: 0 0 auto;
  border: 1px dashed #8C8498;
  border-radius: 12px;
}

.activeDeckConfigurationButton {
  @extend .deckConfigurationButton;

  background: linear-gradient(111.04deg, #2CD8D5 0%, #6B8DD6 47.26%, #8E37D7 98.45%);

  .interactiveIcon::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .interactiveIcon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.interactiveIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 12px;
  width: 32px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.interactiveIcon::before,
.interactiveIcon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: #FFFFFF;
  transform-origin: center;
  transition: transform 0.2s ease-in-out
}

.interactiveIcon::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.interactiveIcon::after {
  transform: translate(-50%, -50%);
}

