.tokenOfferLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.token {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px;
}

.selectableToken {
  cursor: pointer;
}

.selectedToken {
  & > .tokenName {
    color: #FFFFFF;
  }

  & > .tokenImage {
    border: 1px solid #FFFFFF;
    filter: none;
  }
}

.tokenName {
  color: #626262;
}

.tokenImage {
  width: 45px;
  height: 45px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 50%;
  background: linear-gradient(139.83deg, rgba(220, 216, 255, 0.2) 13.92%, rgba(10, 0, 104, 0.2) 86.22%);
  border: 1px solid #626262;
  filter: grayscale(100%);
}
