.submitPortfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 16px;
}

.offerAvailabilityInfo {
  margin-top: 16px;
}

.chooseTokensCard {
  margin: 16px 0 24px;
}

.submitPortfolioDescription {
  width: 238px;
}
