.tournamentPageHead {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  row-gap: 16px;
}

.tournamentPageBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
