
.sparklinesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
  padding-bottom: 2px;
}

.assetImage {
  width: 20%;
}
