.shareTournamentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  width: 100%;
}

.qrCode {
  border: 2.5px solid #FFFFFF;
  border-radius: 12px;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 8px;
  margin-top: auto;
}
