.pageHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #190A31;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom: 2.5px solid #8C8498;
  padding: 10px 16px;
  box-shadow: 0 16px 64px 8px rgba(142, 55, 215, 0.35)
}

.headItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
